<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Crypto Currency News</title>
  </head>
  <body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'home' %}">CCN</a>
				<form class="d-flex" method="POST" action="{% url 'prices' %}">
					{% csrf_token %}
					<input class="form-control me-2" name="quote">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</nav>
    <div class='container'><br />
			{% block content %}
			{% endblock %}
    </div>
  </body>
</html>